[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Allankarlsson
[access "refs/for/refs/*"]
	read = group user/Allankarlsson
	push = group user/Allankarlsson
	label-Code-Review = -2..+2 group user/Allankarlsson
	label-Verified = -1..+1 group user/Allankarlsson
	rebase = group user/Allankarlsson
	removeReviewer = group user/Allankarlsson
	submit = group user/Allankarlsson
[access "refs/heads/*"]
	read = group user/Allankarlsson
	create = group user/Allankarlsson
	push = +force group user/Allankarlsson
	pushMerge = group user/Allankarlsson
[access "refs/tags/*"]
	push = +force group user/Allankarlsson
	pushTag = group user/Allankarlsson
	pushSignedTag = group user/Allankarlsson
[submit]
	action = cherry pick
